# Python

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/
ENV/
env/

# Django

*.log
*.pot
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Rasa
# rasa/models/
rasa/.rasa/
# rasa/results/
rasa/logs/
rasa/events.db

# Action Server
actions/__pycache__/
actions/*.log

# Docker
*.pid
docker-compose.override.yml

# VS Code
.vscode/
.history/

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
