services:
  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  rasa:
    image: rasa/rasa:3.1.0
    container_name: rasa_server

    volumes:
      - ./rasa:/app
    command: run --enable-api --cors "*" --debug
    depends_on:
      - actions
    networks:
      - backend

  actions:
    build: ./actions
    container_name: rasa_actions
    volumes:
      - ./actions:/app
    networks:
      - backend

  web:
    build:
      context: ./django
      dockerfile: Dockerfile
    container_name: django_web
    env_file:
      - .env
    volumes:
      - ./django:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend

volumes:
  postgres_data:
  static_volume:

networks:
  backend:
