services:
  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  rasa:
    image: rasa/rasa:3.1.0
    container_name: rasa_server
    volumes:
      - ./rasa:/app

    command: run --enable-api --cors "*" --debug

    depends_on:
      - actions
    networks:
      - backend

  actions:
    build: ./actions
    container_name: rasa_actions
    volumes:
      - ./actions:/app
    networks:
      - backend

  web:
    build: ./django
    container_name: django_web
    env_file:
      - .env
    volumes:
      - ./django:/app
      - static_volume:/app/staticfiles
      # - db_volume:/app/db
    expose:
      - "8000"
    depends_on:
      - rasa
      - db
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
    depends_on:
      - web
    networks:
      - backend

volumes:
  static_volume:
  postgres_data:
  # db_volume:

networks:
  backend:
