:root {
  /* --bg-primary: #181818; */
  --bg-primary: #2b2a27;
  /* --bg-primary: white; */
  /* --bg-secondary: #212121; */
  --bg-secondary: #2b2a27;
  --bg-tertiary: #212121;
  /* --bg-tertiary: #303030; */
  --bg-chat-btn: #6a6a6a;

  --hover: #272727;
  --accent: #181818;

  --border-color: #46443f;

  --text-primary: #ddd1d1;
  --section-heading: #ff915d;
  --text-heading: #99bf5f;

  --text-secondary: #f3f3f3;
  --text-tertiary: #afafaf;
}
