:root {
  /* --bg-primary: #181818; */
  --bg-primary: #2b2a27;
  /* --bg-primary: white; */
  --bg-secondary: #212121;
  --bg-tertiary: #303030;
  --bg-chat-btn: #6a6a6a;

  --hover: #272727;
  --accent: #181818;

  --border-color: rgba(78, 78, 78, 1);

  --text-primary: #fff;
  --text-secondary: #f3f3f3;
  --text-tertiary: #afafaf;
}
