@import url("./colors.css");
@import url("./dimensions.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background-color: var(--bg-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-primary);
}

.chatbot-header {
  text-align: center;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg-primary);
}

.chatbot-header h1 {
  font-size: 1.4rem;
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.chatbot-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 0.8rem;
  color: var(--text-tertiary);
  background-color: rgb(41, 41, 41);
}

.chatbot-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sidebar-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-primary);
  height: 100%;
  overflow-y: auto;
}
.sidebar-heading {
  margin-top: 70px;
  font-size: 1.2rem;
  font-weight: 100;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.quick-action {
  margin-top: 20px;
}

.quick-action-heading {
  width: 100%;
  font-weight: 100;
}

.quick-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--flex-gap);
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.quick-btn {
  padding: 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  letter-spacing: 2px;
  color: var(--text-tertiary);
  background-color: var(--bg-secondary);
}
.quick-btn:hover {
  background-color: var(--hover);
}
.quick-btn:active {
  background-color: var(--accent);
}

.chat-section {
  height: 100%;
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--bg-secondary);
  position: relative;
  padding-bottom: 100px;
}

.chatbot__chats {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  font-size: 0.9rem;
  overflow-y: auto;
}

.chatbot__input-box {
  height: 50px;
  width: 90%;

  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-tertiary);
  position: absolute;
  bottom: 100px;
}

.chatbot__chats-resp {
  height: auto;
  display: flex;
  align-items: center;
  padding: var(--padding-main) 0;
  border-radius: 20px;
}

.chatbot__chats-user {
  justify-content: end;
  padding-right: var(--padding-main);
  background-color: var(--bg-secondary);
  padding: 10px 20px;
  width: fit-content;
  align-self: flex-end;
}
.chatbot__chats-bot {
  justify-content: start;
  padding-left: var(--padding-main);
}

.chatbot-response-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--flex-gap);
}

.chat_btns {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--flex-gap);
  flex-wrap: wrap;
  width: 600px;
}
.chat_btn {
  width: fit-content;
  min-width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  padding: 0 10px;
}
.chat_btn:hover {
  background-color: var(--hover);
}

.chatbot__input-form {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatbot__input-input {
  flex: 2;
  height: 100%;
  outline: none;
  border: none;
  text-indent: 16px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-tertiary);
}
.chatbot__send-button {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 0;
  cursor: pointer;
  color: var(--text-tertiary);
  background-color: var(--bg-primary);
}
.chatbot__send-button:hover {
  background-color: var(--hover);
}
