@import url("./colors.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;

  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  height: 100vh;
}
.chatbot-header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-tertiary);
}
.chatbot-header h1 {
  color: var(--heading);
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}

.chatbot-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 100%;
  padding: 10px;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  background-color: transparent;
}

.chatbot__input-box {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 70%;
  overflow: hidden;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-tertiary);
}
.chatbot__input-form {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatbot__input-input {
  flex: 2;
  height: 100%;
  outline: none;
  border: none;
  text-indent: 16px;
  font-size: 1rem;
  color: var(--text-tertiary);
  background-color: transparent;
}
.chatbot__send-button {
  border: none;
  background-color: var(--bg-primary);
  color: var(--text-tertiary);
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 0;
  cursor: pointer;
}

.chatbot-footer {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid var(--bg-tertiary);
  text-align: center;
  color: var(--text-primary);
}
