{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bot/styles/styles.css' %}">
    <script defer type="module" src="{% static 'bot/scripts/main.js' %}"></script>
  </head>
  <body>
      <header class="chatbot-header">
        <h1>Fire Crises Response Assistant</h1>
      </header>
        {% block content %} {% endblock %}
      <footer class="chatbot-footer">
        <p>Assignment Title: <b>Fire Crises Response Assistant,</b> <span>Made by: <b>Hammad Ahmed, Student ID: Q1106537</b></span> </p>
      </footer>
  </body>
</html>
