{% extends "bot/base.html" %} 

{% block title %} 
    Fire Response Assistant
{%endblock %} 

{% block content %}
    <section class="chatbot-layout">
        <div class="sidebar-section">
            <h2 class="sidebar-heading">Quick Actions</h2>
            <div class="quick-action">
                <p class="quick-action-heading">Fire Education</p>
                <div class="quick-btns">
                    <button class="quick-btn">Basics</button>
                    <button class="quick-btn">Risk Assessments</button>
                    <button class="quick-btn">Mitigatoion Steps</button>
                </div>
            </div>
            <div class="quick-action">
                <p class="quick-action-heading">Fire Incident Report</p>
                <div class="quick-btns">
                    <button class="quick-btn">click me</button>
                    <button class="quick-btn">click me</button>
                    <button class="quick-btn">click me</button>
                    <button class="quick-btn">click me</button>
                    <button class="quick-btn">click me</button>
                </div>
            </div>
        </div>
        <main class="chat-section">
            <div class="chatbot__chats" id="chat_container">
                <div class="chatbot__chats-user chatbot__chats-resp"><p>Hello Bot</p></div>
                <div class="chatbot__chats-bot chatbot__chats-resp" id="bot">
                    <div class="chatbot-response-box">
                        <p id="bot-msg-text">Hi user</p>
                        <div class="chat_btns bot-btns"></div>
                    </div>
                </div>
                <div class="chatbot__chats-user chatbot__chats-resp"><p>Hello Bot</p></div>
                <div class="chatbot__chats-bot chatbot__chats-resp" id="bot">
                    <div class="chatbot-response-box">
                        <p id="bot-msg-text">Hi user</p>
                        <div class="chat_btns bot-btns"></div>
                    </div>
                </div>
                <div class="chatbot__chats-bot chatbot__chats-resp">
            
          </div>
            </div>    
            <div class="chatbot__input-box">
                <div action="" class="chatbot__input-form">
                    {% csrf_token %}
                    <input id = "user_msg" type="text" class="chatbot__input-input" placeholder="Do you want to report about fire or you need fire education ?" />
                    <button type="submit" class="chatbot__send-button" id="send_message_btn">Ask</button>
                </div>
            </div>
            
        </main>

    </section>
        
{% endblock %}
        